{
  "app": {
    "guid": "014e77f3-1bac-4385-9578-7e94fddeb1ce"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "MDE0ZTc3ZjMtMWJhYy00Mzg1LTk1NzgtN2U5NGZkZGViMWNl",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "Token"
  }
}